.jumbotron{
  padding: 400px;
  background-image:url(../img/home-original.jpg);
  background-size:cover;
}

.jumbotron h1{
  font-size: 75px;
  color:#eee;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

a{
  color:#900;
}
a.main{
  color:#444;
}

a:hover {
  color: #900;
  text-decoration: none;
}

.carousel-caption h1{
  font-size: 100px;
  color:#eee;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.glyphicon.glyphicon-scissors {
    font-size: 75px;
    align-self: center;
}

.glyphicon.glyphicon-search {
    font-size: 75px;
    align-self: center;
}
.glyphicon.glyphicon-duplicate {
    font-size: 75px;
}
.glyphicon.glyphicon-comment {
    font-size: 75px;
}
